<web-app>

	<servlet>
		<servlet-name>signupMapping</servlet-name>
		<servlet-class>servlet.SignupServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>signinMapping</servlet-name>
		<servlet-class>servlet.SigninServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>signoutMapping</servlet-name>
		<servlet-class>servlet.SignoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>mainpageMapping</servlet-name>
		<servlet-class>servlet.MainpageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>userpageMapping</servlet-name>
		<servlet-class>servlet.UserpageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>postCommentMapping</servlet-name>
		<servlet-class>servlet.PostCommentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>deleteCommentMapping</servlet-name>
		<servlet-class>servlet.DeleteCommentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>updateProfileMapping</servlet-name>
		<servlet-class>servlet.UpdateProfileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>executeSQLMapping</servlet-name>
		<servlet-class>servlet.ExecuteSQLServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>signupMapping</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>signinMapping</servlet-name>
		<url-pattern>/signin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>signoutMapping</servlet-name>
		<url-pattern>/signout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mainpageMapping</servlet-name>
		<url-pattern>/mainpage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userpageMapping</servlet-name>
		<url-pattern>/userpage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>postCommentMapping</servlet-name>
		<url-pattern>/postComment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deleteCommentMapping</servlet-name>
		<url-pattern>/deleteComment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>updateProfileMapping</servlet-name>
		<url-pattern>/updateProfile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>executeSQLMapping</servlet-name>
		<url-pattern>/executeSQL</url-pattern>
	</servlet-mapping>

</web-app>
