.btn_follow_false {
	color: blue;
	border: 1px solid blue;
	background-color: white;
	border-radius: 100vh;
	padding: 5px;
}
.btn_follow_false:hover {
	color: white;
	background: blue;
	cursor: pointer;
}

.btn_follow_true {
	color: white;
	border: 1px solid blue;
	background-color: blue;
	border-radius: 100vh;
	padding: 5px;
}
.btn_follow_true:hover {
	color: blue;
	background: white;
	cursor: pointer;
}